
body{

    margin: 0;
    border: 0;
  

}
body{
    background: #fcfcfc;
    font-family: sans-serif;
}


.nav-item{
    padding: 10px;
    padding-left: 40px;
}

.navbar{

    background-color: green;
}
.carousel-inner > .item {
    position: relative;
    display: none;
    -webkit-transition: 0.3s ease-in-out left;
    -moz-transition: 0.6s ease-in-out left;
    -o-transition: 0.6s ease-in-out left;
    transition: 0.6s ease-in-out left;
}
.carousel .item {
    height: 500px;
  }
  
  .item img {
      position: absolute;
      object-fit:cover;
      top: 0;
      left: 0;
      min-height: 200px;
  }
  .card>.card-text{
      color: black;
  }
  .carousel-item >h5{
      color: black;
  }
  footer{
      
      height: 60px;
  }